{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:15+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            2aadd17f300c2c1d0fc5f92df4661278
//      Signature:      eyJpdiI6IklWUDdcL0xMZGJrRjZJVStTQThqbFwvQT09IiwidmFsdWUiOiJxSnhNMjEzVlk1NVAxVXpDNWdDcmhzWEplWm1cL1wvakxzYkJvRVwvTWR6ODVBWWFJa2ZGWlExN2g1NkYzU2s5MVhHRFEwNG1yQ2FwVlh1TTRKNWZlbll4SzhPSWJIUnBkMm5UM254dmdvZjE1ZjNJR1wvWW9jR09MZ2hVeXFXYWVzY3BHeGVcLzFxRW5NMG1yOU83bVhObDNleEUxaEgyZUlxbEo4Z212MWdjb09VcFwvcFZMVHNvcU00eEw2dTBuVHNNUkhpb1BWZWpTQUt1Mm9vaHNBNHJxeTh2Nk9rY1JYdXNXN0FTTVwvM3hWdjM0TUV4SUVRQkpaT0l1RGx5dlJTM2dGT2VyOEFrTlJCOGdMZ2Y5RkFVSmtMOHVjc2RreWVMa1wvZ2VGQU9FT1pRb2VBXC9DNmNBWUhMRGVWSnZkUnRVeDdTbm9zTUJ6XC82bnBDTkpcLzJKR0VSbnkwSWZcL3dPQVNvVGs5ZVNXUmV5dHZmamNOQ1lKc3FiYUYxOE9rUHZFb2tqOE5cL2JDSEp5YUdOVEJVbEczQ3RuZHBEUT09IiwibWFjIjoiNjViNjM1Yzk5OWQ0NzU5MDQyN2E4MjUwOGE2YzhkNjQ2YmIyNjkzYjMzNTUzOTU0NDM4NGM1M2E2ZTJjYjE2OCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<script>
    $(document).ready(function() {
        $('.labo-prd-popup-times').click(function() {
            $('.labo-product-not-available-popup').removeClass('labo-product-not-available-popup-active');
        });

        $(document).on('click','.labo-cart-item-remove',function() {

            $(this).parent('.labo-cart-sidebar-item').slideUp();

        });
    });


    function addItem(form_id) {
        var ProductInProcess = $('#' + form_id + ' #product-select').val();
        var attr = $('#' + form_id).attr('data-cart-status');
        if (attr) {
            var cartStatus = attr;
        }
        else {
            var cartStatus = "Made to order";
        }
        CartJS.addItem(ProductInProcess, 1, { "Note": cartStatus }, {
            "success": function(data, textStatus, jqXHR) {
                $('.labo-cart-expanded').addClass('labo-expandopwidth');
                $('body').addClass('cart-open');
                document.dispatchEvent(new Event('cartItemAdded'))

            },
            "error": function(jqXHR, textStatus, errorThrown) {
                $('.labo-product-not-available-popup').addClass('labo-product-not-available-popup-active');
            }
        });
    }

    function addDeviceItem(form_id, device, material) {
        var payload = {};
        var ProductInProcess = $('#' + form_id + ' #product-select').val();
        payload["Device"] = $('#' + device).text();
        var attr = $('#' + form_id).attr('data-cart-status');

        if (material) {
            payload["Material"] = material;
        }

        if (attr) {
            payload["Note"] = attr;
        } else {
            payload["Note"] = "Made to order";
        }

        CartJS.addItem(ProductInProcess, 1, payload, {
            "success": function(data, textStatus, jqXHR) {
                $('.labo-cart-expanded').addClass('labo-expandopwidth');
                $('body').addClass('cart-open');
                document.dispatchEvent(new Event('cartItemAdded'))
            },
            "error": function(jqXHR, textStatus, errorThrown) {
                $('.labo-product-not-available-popup').addClass('labo-product-not-available-popup-active');
            }
        });
    }
    function addThisItem(variant, madeto, device) {
        var ProducthasDevice = device;
        var attr = madeto;
        if (attr) {
            var cartStatus = attr;
        }
        else {
            var cartStatus = "Made to order";
        }
        CartJS.addItem(variant, 1, { "Device": ProducthasDevice, "Note": cartStatus }, {
            "success": function(data, textStatus, jqXHR) {
                $('.labo-cart-expanded').addClass('labo-expandopwidth');
                $('body').addClass('cart-open');
            },
            "error": function(jqXHR, textStatus, errorThrown) {
                $('.labo-product-not-available-popup').addClass('labo-product-not-available-popup-active');
                $('#message').html('There was a problem adding to the cart!');
            }
        });
    }

    /*$(document).on('cart.requestComplete', function(event, cart) {
      $('.labo-cart-sidebar-item').animate({top: '0'});
    });*/

</script>
{% comment %}
<div class="labo-dynamic-button-hidden labodnmcbtnclickable hide" style="display: none">
  <div class="additional-checkout-buttons">
    {{ content_for_additional_checkout_buttons }}
  </div>
</div>
{% endcomment %}