{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            87340731c32d5854c8c46a5c52028a70
//      Signature:      eyJpdiI6InF6NmxLallkcTA1SmdTYXF0NWhKcHc9PSIsInZhbHVlIjoiNXZucm05dk5nS05uXC9Jem9ObU8yS1BnbkFUNm1NRnJnREdRaktYQUZuVURcL3pjVGM4ajVVZm1YRU93T0RyUTRvVXlOdU1iUUR3Sk9RcWxcLzdZdVhQcHRMQ2xZZnNtRk1IUExCd0NtaGtjSzRCcEE0elNENTVkektqWU1vK3l0TDcycWVuZkdGWUhMQTZFeGE5cDRNbitweUNcLzl4Q0hYWWFWdm1qUUtSV3pwWU5OTFg4NW9TTjVrcmc2RHZsRXpKZTBBNFVmZE9HSVFLSDJCd1JLaUJZWUtJNGRzRytQUDB0SGdlTzFyVjdyajU1NjlyTnFoVmdrU1NLV1RwYXlHaFRpd0dpMmlYZkptZTVPTWw0WVwvQWtxejdRXC9MXC8yVkR6Njl0Z1NjOWMwdmhXMVpxbU5TQXBBYlFLRnJ6Y0pmWlE1RE9kekVKdkJHZTFRV1FQK1pJVkdiUHl4U1krK1krdmxkaTNINFRvZ1hxNENQbGs2dGlMS2Ftd1VPZmxzYTVCbTJsRFNic1RRd3hzQ0VDVXJSS2dnTWZvYUJcL0lJMkczMGNCekYxVE4wdFVZPSIsIm1hYyI6ImJhZmFmMzg1OGUwNmUzM2JjZjdjNjk4NzYxMjdkYWMxNjUyNjI2NjUxNmU1YTJiYjdhMjM4NTM5MmJiNTczNjkifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.device_list' %}
  {% include 'custom_fields.collections.filter_1_name' %}
  {% include 'custom_fields.collections.filter_2_name' %}
  {% include 'custom_fields.collections.hide_device_list' %}
</div>