{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:20+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            410717a81d0ecefe72e481d4889d392b
//      Signature:      eyJpdiI6IlQzTE9VMUl0b2FFSEJsVzRXcitJdlE9PSIsInZhbHVlIjoiNEFUa0o1UUxzZHdpR3BSalROaCtPUTNtaVdXQTFRenNNTWU5QmhpaVgreGRRbGFEaThGVjEySjQweXZmeUw1Ulc5XC96N3N2SGNqbFhvQVhncjdtaVNKVUFFakEyWjRGakJrdDNVaElVdTJqcnNsRkpHeXRWQUxqMzBWakFXWTY5cEhIR29Ham1OakNYWlZYQ0JCUW8zXC94d09cL1RmZk5Ka29HRlRwcENPMUdhT0NMVlVFVE8xZXV4aDQyMzRrQ0o2bmtNNFJQU0llaXV1VGFuTktNeXBmSGRIRXB3QjVcLzZtTkVFTkY4NzdZZlZQdytEOEtRVVhaa3p1ekdGTlwvak1pK1NuUU1KRWxSblJnQXpiS0YzWEJQRjEyM2ViMDFodUJmTzZpVkF3b1ZGNjhIQ0NCMmhNcUFcL0ZXVW4xYlJHOXR5SVRGSjV4RFNHaHBQSlwvMGQ5cko0M1hTQTlFQW1JTWdTcmZqSnFUR3VLN1pWb3dcL3l2bDFxbmt0NUthZlBaUXo2bjN1aWdCZW8waThxXC9YNFhcL1laOFE9PSIsIm1hYyI6ImYxMGJkYjllNWZjODNjYWM2MGQ0MTYwM2QxY2NjMDI2NjFjNjU0NDA4OWYwZGNmMDFmOThkZmQ4ZTQxMDEyNWUifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<!-- /snippets/comment.liquid -->
<div class="comment__content rte">
  {{ comment.content }}
</div>
<div class="comment__meta">
  <span class="comment__meta-item">{{ comment.author }}</span>
  <span class="comment__meta-item">{{ comment.created_at | time_tag: format: 'date' }}</span>
</div>
