{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:27+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            142dd23a22273de23c51792e7a242e0e
//      Signature:      eyJpdiI6IkI0YXNlQWI2VjNiQzNBQ0Mza0sxQ3c9PSIsInZhbHVlIjoiQ1VTUVJlc3Q1RGxnYlZVTW4rWWxZVHcwaDJETFBkODVhZVdROHJxYUhQVlpQb2s1Y2dJdWQyalQrN2J6R0lMVGVxQlhVOWpQWHdxZzBZazlCVkdDXC9pbWhZK3R4V1FMSkgxS3NwSjBFd3dBNFVsTUFmU2xDMnBpT3dMVU1heXluak42YUpScE55cmdjM2FJdlM5OUtrcUc0Y1wvQ1BOZVdIOWpOSlo4UjdzXC91UEtxV2wyaGcwZkIwV3JCQWp1WXY0VUtkZGF1VHNQeG1lbkdxZU5yVFp1ODhGa1pEcytBY3ZONFlWM1luMHNKc21RMnhcL1lnNXpab3pEemIzd092UWNJaGZpWTZ0eWtQbmxkVXRxTjZGUDhkTTVFa2JVTEtVNkFlRWRjSzZ6Z0YwaDVpYzM4MTJWWTVrTU53RnhGQUc2TnRpcDBLaVFzeWUyMHpkTTVxYlVjZWE1QmFlZ1Q5TFQ2bnpjQnliTGV0TFNlektpZGk0VkdDUlNIdlArNFhUeGcrYTRYRU1yVHJ6VE9SNGhYYTdKTDRZd1MwRTNEQXYya1phMEFnbFk3QUtVOVlcL1hpcXhVbWxaMGM1alZISVd4IiwibWFjIjoiOTYyZDAzNGM5MjA3YzQyMzRkM2Y2ODlhZGU1NzA1MDJmZjc1Y2Q4NmNmOGJjZjQ3ODBhOGQ5MzViNzA2ZmJmMCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/labodet-store.myshopify.com/products/configure/210823/edit
{% endcomment %}
{% if product.metafields.custom_fields["you_may_also_like"] != blank %}
  <div class="custom-field custom-field__you-may-also-like custom-field__type--field-collection">
    <h3 class="custom-field--title">You may also like</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign product_recommend_array = product.metafields.custom_fields["product_recommend"] | split: separator %}
      {% assign fc_keys = product.metafields.custom_fields["you_may_also_like"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__product-recommend">
            {{ product_recommend_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}