{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:37+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            b841fc6ddd08ce2748beff0541940ee0
//      Signature:      eyJpdiI6ImFuQjluc0FGaFFGSStkbGFYS0hqd0E9PSIsInZhbHVlIjoieDZMOExRbEx0VnJQSDFjeUVWZk9IMGRxNmZHWFY1cHJTNTlBN3JKbGx6SUtmc3NnVjROYWhrYVFcL29BWitaMnFLeHc0VzZ3aHBVS0k1SE1iaDlMUFJ4NEVJR0IzMDcwNjJXdEVYTzFha3hNMWZKdmpZZmtnQk5WSytyWG5oalVTZWlOcnF6TjRCTUtmdVVxRkRiN09YbjVKSXNlaHhPRThBZm1oeDYwM1ZlaUdGWjIzWjNUbDl2T0R0amhJc0ZuV3JNN01veXR5ampJZGM4QytPQVZYVTcwU0xBUUNIUnpGWlhUenlhdUtjTldUMEwzTkhjV2dcLzNKTUk1QXhsK29oZFA0V2xCQk5PY3ZiY3BMNGl2a0l1Skd3YWtYTVwvR3FsbXBIZTEwYVhKNCtjVlwvWTg1bnRRTlNjT1drXC9zclB2YXFRU2JqNUVUNk1jdW5mNGFuRURCc0s3a0lmZWNhdkRSYThaNmNscVVIZW1tRDBmRlwvK2RKT1l2OWp5MVwvM3dwYjlqbmV2T3kwdUt0SVlldDNRR1FlMjRhSEN3SkRtV21sXC9aRzZlZkxxR1ArYjBrWU0rR0pVYVZFeG03NmdVbXRtIiwibWFjIjoiZmFiYzRlMTY0YTI1MGQyNDIzODhkNDhhZDgyZDYyMDcxNjI2YWRiMzVjMTM1NjM2MTdmOWEwOGQzZDRhNzQ0ZCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/labodet-store.myshopify.com/collections/configure/207376/edit
{% endcomment %}
{% if collection.metafields.custom_fields["filter_2_name"] != blank %}
  <div class="custom-field custom-field__filter-2-name custom-field__type--text">
    <h3 class="custom-field--title">Filter 2 Name</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["filter_2_name"] }}
    </div>
  </div>
{% endif %}