{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:23+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            26e6eef54497ee8a8d71e3b380e63f52
//      Signature:      eyJpdiI6IjlWRTFnRVU1aFJidUFzYlRPd0ZSMlE9PSIsInZhbHVlIjoiRDc1aHZIb1wvUjJqZ2d2OTBlZWRQVlY3N05ubzNiSEZxZ2IrdU5zaE1PNVhxWXFqbURMeWxDOWV5RkdyN0J3a3h3SDV1eFJ6VU9BVmpUTkptT2llbkpCNkd6VU1xTE95dWxFVG1ZalZaMDB1UFVPd0s4ZHllbFI1RHNCK3RKalFQMzkzbnJyUGRFaEpQUDRPcFpjbDEyVm1QK3hZdjhmZ0RqQVZDdytLYXVTYjJtbHhpbmVkc3RNMlRJWVdHUTN1dmVwNlEyWnRRTzg0WGNpXC9nczVET3loVXRtYm40S0ZJNVhXOHo1ajVkalFZaTlVRTVqUkRpK1cwT3A3dXFnSCtuZ1ZPaG5LWkZUd0ZmTXlOUEFrdk40WmRob0lGUkxIdXQyRkxOOUZcL3VBVWFRNWtVdDI0MmlMVTRYMUp4U0Z4Y2luZjBqeWduWjJ5UjJEOVUybkJMaGxXNFhadnpGSmJlT3pvcUUwUjBTc1Z3Vm1RS1J2VGsxN0luY2VVaFIxbUJWNDdUMkJCZ0QzNWRFWjhiSE1FbDBidXd3YmdWbEl5QkZmYng0dGtXYUM4QnMwZ3M5UWtMcGl4Y09RZURBVzd5aiIsIm1hYyI6IjI5ZDVkYzRmODFhZjM0MmUxNmFkMTU0ZjI3NWVhZjY4NWE3NjYzMjk3ODMwZWE5ZGUyY2NlNDkxNTAwY2M2YzUifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/labodet-store.myshopify.com/products/configure/215571/edit
{% endcomment %}
{% if product.metafields.custom_fields["in_stock_text"] != blank %}
  <div class="custom-field custom-field__in-stock-text custom-field__type--text">
    <h3 class="custom-field--title">In Stock Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["in_stock_text"] }}
    </div>
  </div>
{% endif %}