{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:17+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            17215ada82eadb1c5e78a85e96ddd5df
//      Signature:      eyJpdiI6IlN0R3g0RzdXbG9McnlmeWQ5d3FWbUE9PSIsInZhbHVlIjoiZ3Voa0tcL2I3Z1MyZkZyZEk1VUxLMVRJa0dlb0EycWw3WkFrQThXT0RRWE5pUG1tMCtXVEJGN3RLamJOS09meGt3TnRra0IyMDlpXC9cL1Blb1U0MlF4SW9XYlwvR3NOUk9USGFPU3NiNDBQTHVHRWRxWG9vSkxQQmhxV2lWTzZvOTIrQWQ2NXZXWmZ2clVvZVhFNmZobW9KMnNcLyt1K3MrQ1VWTU9FaXJqSE85RUZtYXIrOEQzRnNxWStqSmNaeWpIY21GUzBVQkxGWnM1cmJJS3VWRldUTmtoUVh3YStmZ2FtbDlOeURmNjNOWGVcL3JITWdwRzF5UjlyK05KMUNzaWM4djB4N2NFWXNuMFJVekJqcWZKR3puU1NaZlJVN3NqVERJOWVxK09FK3JSYUM1akVCV2ZBSXNFTm9pYmtpV21sMjQ3QTNmQVVJV0xteGxrNWJ1dUFDZzNUczZNUVJHb3BSa1lQdFNTeWNFcmFhbjlwMFRxV3paSkV2cHVZaGZVNHVDTjZoU0FFb3FlMU1PeDFmN3hZRmZ0cUpIT1pKRWc0bTlGNE0xR3pJcjRSV2xGbDRsOFpOS2paZlBUY2YrK2JMRCIsIm1hYyI6Ijg1YzllOGEzMjlmYmUyNWRlOWIyYTJkNzkwMDRhZjFjNzMyM2U2MTE0YjEwOWE1YWExZTI3NzM2YmQxZTA2ZmQifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/labodet-store.myshopify.com/products/configure/206424/edit
{% endcomment %}
{% if product.metafields.custom_fields["animal_skin"] != blank %}
  <div class="custom-field custom-field__animal-skin custom-field__type--text">
    <h3 class="custom-field--title">Leather</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["animal_skin"] }}
    </div>
  </div>
{% endif %}