{% if collection.metafields.custom_fields["seo_left_text"] != blank %}
  <div class="custom-field custom-field__seo-left-text custom-field__type--html">
    <h3 class="custom-field--title">SEO Left Text</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["seo_left_text"] }}
    </div>
  </div>
{% endif %}