{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:31+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            f3d9901e501f17986c2fae7563f4ee29
//      Signature:      eyJpdiI6IldhZ2VUOEVIaFRRMDhsRm5PTE45RkE9PSIsInZhbHVlIjoiMDhPMjRmVWxUOHl4T2ZwanI4SEtGXC8zRXpnTXFIUklkSStSRDYyZTVncDBWcUd3aWlaZEF4Z3VyYlwvb3c5ZnZKdHNTTkY2K3NEVWtpM3RsTEFGTlJFRHhMekNaQk1jK0hrYW5UR1dISWZEOFZ1VVVEKzk1V1k1RHViekZOVlJwbStOb0lJNG5vTkduM1U4Um5KdU5idnpTUkpcL0Q3Q1pTWTBsR1oyM1ZvejYzQnoweWZ2ckE4dzN4bzR5cUdKdWd6bE5nbDVWRlZra0Jmd1wvRExmUmFkUEpCSGxGajFaZU9ibUxvRXZ4ckhoZ0RrQkd5S1pReUVrYlJPcE9ISnFmajlJNytnaWdNNkFrUzhwVDM0VnA2XC94OWVic0pMTFZPTmsxK0Y2T1BhclN1RklSNUwrUWZKRnlOUDBFQ3owR1ZiNU1WR05SZmlmTzlNMUNxZlFmK0xIZlk5NkN3VWd2eHZuandkdkVOU1pIMjlOelg1MW81XC9qcHRwV0hhMEErXC9SMHlqNkdVTUdvazNaOXhDRDM1T3YxdUNSTWhSRUt5ckJla3JMRUp6Q3hsRDg9IiwibWFjIjoiNzE3OTBiNGUwZGVhMTU4OGZlNGVlM2U5Mjg4YTMzNDk5NzBmMTI2NmU0Y2YzMjQ0ZTNmNjhjOTQ5NDg2OTYyZSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% if product.metafields.custom_fields["device_list_repeater"] != blank %}
	{% assign separator = "|###|" %}
  	{% assign device_name_array = product.metafields.custom_fields["device_name"] | split: separator %}
  	{% assign product_array = product.metafields.custom_fields["product"] | split: separator %}
  	{% assign fc_keys = product.metafields.custom_fields["device_list_repeater"] | split: "," %}

	{% for i2 in fc_keys %}
		{% assign index2 = i2 | plus: 0 %}
    	{% if product.url == all_products[product_array[index2]].url %}
			{% assign current_product_name = device_name_array[index2] %}
    	{% endif %}
  	{% endfor %}

  	{% if current_product_name == blank %}
  		{% assign current_product_name = product.title %}
	{% endif %}

	<label for="device-select" class="labo-device-select labo-mb-selectbox position-relative">
		Device: <strong id="currentDeviceName">{{ current_product_name }}</strong>

      	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-inline d-md-none lebo-select-down-arrow">
      		<path d="M15.0711 8.07107L8 13.6535L0.928932 8.07107" stroke="black"/>
	    </svg>
	</label>
        
	<select id="device-select" class="offscreen" onchange="window.location = this.options[this.selectedIndex].value;">
        
      {% for i in fc_keys %}
          {% assign index = i | plus: 0 %}
          
          <option value="{{ all_products[product_array[index]].url }}">
            {{ device_name_array[index] }}
          </option>
      {% endfor %}
	</select>
{% endif %}