{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:13:53+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            0cb7d758b6df0feb07ae5804b4b627fa
//      Signature:      eyJpdiI6ImE2VzJuQUJjQWxnOXJQdmZtdDF3THc9PSIsInZhbHVlIjoiSE8zZVpNXC83TUZBUGlIUHlIWkQ1MmV2U21yMFl5dVpENkprVFBSazVkRnZsM09laUtvcWpiaEtCazBCVk1wcFVsRlpZOFRYMG1zUElnUm5vTWtCdVlQUFZNRzYxT0FYSFJacVZ1aUdKcjZZNTJNZHJVOGdHckZcL3MxdHdwaGpyVjdEMkZKUmVHUnJYaUhNNk54Tlk5WnR2ZlZ1Y0xOZnFIVUxLclR5eDNaSXRORktKXC9WcVY4RmY4R3Jsd1ZqNXJQN1o5aXpLSzNNVmRBS0ppSmVyUG13eGJ5MlJkd1pNTkZwS2cxaldHTDJXd1VhYVU4dkFrVFpMRVY0ZUEwbXNmSHg1cEhyRGZLWGVTbDMzUldtTWFGd0FneVdoaTVjeERmbndZdG9xTzlrXC9WSHZDNlM2R3d0c2ZqdG9hMVhMcU5JcE5aWlNrazNHWnlwM0VxcG5KYjJXeGJIcEx1XC9jdHhlZEQ0WkpLSVwvNHBhWHJsSGlFK2ZpOEVRR3JQTU9iUGdxOFRaKzY2cXhXT1VWR25ROTlPS3dMZz09IiwibWFjIjoiYmMxNDY4YmM2ODEzZDc1NmUwNzgyZDVjOGUwMGU0NGYwMjU3OWJhZjA1YTVjZWQyYjcyODMxNWJhMDJhMTIxMCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="placeholder-noblocks">
  {{ 'homepage.onboarding.no_content' | t }}
</div>
