{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:22+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            16199a214a426900e7711a0f616ddffe
//      Signature:      eyJpdiI6Ik9yOUtZd2NhYXAzVXhIa0k1QUFOaGc9PSIsInZhbHVlIjoiZU5ERFNMOWxWSmo1Q2ZZODJtcGFLa2hhcFJ6RGgwdmZmTmttdG03dHVBQlgyQzB4bElmMmJOQlNqWmZrR2dPNUZ1TEF6RmZcL3Z5SG83a0JyUnZ6MWRFVjNuZHJFbDN1MExYOEhXXC8zWm40UzBCbE9VTWRtRVQwb0Q2NzhESzFGOFlDWlZZRThabkcrK0tWbUhvK2N3VlZHazNjck5oZmhWd2FXOXFNb3JsMHN5dW5mQmJZVHNzb200MWZENkVwOE9ibVdyYndsb0JRMW5ZTmlVdHFXXC9TVmJzYUxNTXhIcGNPMlZWTTgxTTZHNmpmUFJEZkFOKyt2U2k5a3NWUE1QSlwvNVpPNE9sS3BmbWppUjZLUHJqeks5V2xvXC9GOWg3eVFMWlwvUDZ3XC9wOURXV1AwOExGY0JCNXB5ejFidDhsY0hjSXd5eklDME9Tb1JXZ1RuRVJ0enlvM3pzVFk2cWFuT2xHS3BDUVRqeFdzeEROMkJaRmJ3XC9lMXZ3cmZLd1NIQk9iR0Q2bnRjYWc1VitzS1FtT2Q3ZlwvWTRHK0p2R1VoXC9maDR4ZGpaK0RxcVU9IiwibWFjIjoiYjIyYzM1ODkxMDAzZTUxNDA5NzA2MWJmYTFlNDFmZjAxYzVhZDgwYjFhZDQ0NWMxM2NlMTNiZjRlMGM3MDE4MyJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="image-zoom-container">
  
  <a href="#" class="close">
  	{% render 'icon-x' %}
  </a>
  
  <div class="thumbnails"></div>
  
  <img class="big-image" src="" alt="" />
  
</div>