{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:13:59+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            30f0b249b1311c39420d910234dc5ef4
//      Signature:      eyJpdiI6ImdmWU80ZGl1UzlUN2o4dmJKNnZ3VVE9PSIsInZhbHVlIjoibDZ1WXhYa3hUaXhmOTVCWjBmSXVvR2M5S0c5WHk5THZHS3VlbHk5OGs2VStsM2s0aU1GUHB1eFA2K0piRG9abDlTYTNuUUdibDRBVlVuWnlpcGtoY3p6WFFMOTJvSFwvU2o5SGNMbXUyZ1c5eSt2UWZFcWVpVFN2emxmSThIak94cEdGYVMwd0RrWVwvbmRBY3dRdW9uSnc3K0JiaWlYemlVaTlud3ZQak14a3VoUDk4NlpZVGEwVDUrZFl0aCtDK1BoaGZBWlZCeTQyM2xpbWF5dW1IY0pnMXRicEJ4b0k3bHFnVmVXRG5qVDZ3NHhOdjhSdE9XUk9ZaXo4cDU0SnJ6WWhTRWNTVVhBWm1NcXNJeFQ0cm1RMlN3ZlBidEZwUXdkbml2cHd1ZkJucmNUTGxaOVkrbXJOUkFDMXdNUXBcLzVJaDZkdXFQeGRHXC9wRXd4eWlZN0Y0elVLMjhvelBTXC8ySDdNXC9rNlI4ZDZWWnp0TW05aWZXdzQxWnlRRCtMYk42OTc3ZWppZ1BNVGdWWk43XC9NcVBXZlNcL0plS0sxeDEzcVNHdFwvbDFNME5lZz0iLCJtYWMiOiIwNGM3ZmVhMTYyNzJhZjc0M2Q4YTAyOWNiNDBhY2M3ZDA1NGRmMmVmOWQyMmY2MzE3MzEzMTg4ODU0MGIxNmQ1In0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.made_in_country_text' %}
  {% include 'custom_fields.products.animal_skin' %}
  {% include 'custom_fields.products.categorytype' %}
  {% include 'custom_fields.products.product_badge_text' %}
  {% include 'custom_fields.products.in_stock_text' %}
  {% include 'custom_fields.products.out_of_stock_text' %}
  {% include 'custom_fields.products.cart_status' %}
  {% include 'custom_fields.products.device_list_repeater' %}
  {% include 'custom_fields.products.product_tabs' %}
  {% include 'custom_fields.products.you_may_also_like' %}
  {% include 'custom_fields.products.advanced_sections' %}
</div>