{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:11+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            54ffcee68e6b1de62f4035b18fd85592
//      Signature:      eyJpdiI6IkRtb3NGQUZPeFwvYXltbUY0bkt3T0RnPT0iLCJ2YWx1ZSI6IkJCZloxakkyOGtxakdDcE5KdGw0ZWFnR0VqOEs0RDYyTllwaHh3eEY3XC91eitqM016aGYwdTNxTEljVVlZczkrSnl3dXBBK1lDMXU5bFpwbnFoa1RXbTk0WmxoN2tPNGRlSnhtODQwU3ozY0Vaa21rUXFnREdnMXA3a2tnWGJYaithVlwvQXlPa0xVcnBFMU8yVTJCTVhXNEoxcmpaMDhWS0NKc2R0VGJCYVRzZk5wa3FGMCtQbXV4bFM1YjdScEJJbTJjaEJHR3JCeGxjTFwvd0ZRQ2dRUWtrajZLak1QWW5GMXROb0I3ZzhSTDE4cWMxQ043T1JobnF4T1pFek4zVjk3ZTc1c0krU0VZQ3FlbFBmTFlhZkFialwvUWQ3V01JU1k2dDBkRmRNSFRpMEt1TW5iYnpUdHZpcktYeWRvWXpMSWVwdXRoWmUwUlIzNUNVRUdOb2wxczZwM0Npem5wdTdDaHhaVWp0YmlLaUhcL2VVT3R6bUMydnJlcDFCN0dPQzFBTHpOOTcrSjA3akNvMXVPR210eDBTS2RJa3AzekFwOWhKRVE2RDVoZlJwTT0iLCJtYWMiOiJiYmVkMTEzMjVmOThiOWIwMDlmMDg0NmM2NTM2NzI2MzJmNDY3ZmIwNzc2YzQ3YjBhNTQyZGU0ZDQ2NmRjYjBiIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.shop.colors' %}
</div>