{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:20+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            14ad44638b314aa6207012ae992ac130
//      Signature:      eyJpdiI6IkVpNGR5NVVHUEZkVkRrOURcL25LczFnPT0iLCJ2YWx1ZSI6InltMUpnVVF1cXErV1owbmJcLzFYNklJZ3lETVk3dlI5Q2crN3I1UXMyeXBmNjBZYmwwaW5pNWh5NGNYd2E2MFN3MDk1S2xLNUZmTFwvcEx3UFRTNGlDT2w4RThSMzhBS3FFYjljS0ZjVGtEWGdJdHBvTHRRWHVLOXlXVlA0NlJuMUNQb2RaaG5nSzcrdGkxYUptZ1FHOVdaZjFoMlZIQmNGalpOQlEzYmpKWjE1aVFrQnR3bkNEMWtQVHFKdVdkZFYrd3RsUFZEbXRHZmpOMVRiTUI0dW5COE9QTHF6MDV1T0hDbEFNTGlsa0Z6TUpjZHdUbnJJR1haN3pyNEY2UlFINmRnV1VodlZxYlNXZFVkd0dydTVSbHh3M1lBaW5vU1daQVF3Y0JXeU5SZzRNTGszN3JLcnZGS2JEUWFiZGFrUXdFYzlJckZzdmFuXC9jQWpwWjByOEtUaTlBMk54dHlyRzFkUXA3SGNxZTBNTE9sSUdHQVVZaklVdG9ZNHNtMEFJUUhWdEt2ejVVa1IyMjA4eVBnQnJaZVE9PSIsIm1hYyI6IjEzOGI2NTJjOTYxYzRiNzM4ODQ1ZDFiN2FkMmZkN2ZmYjUzNWIxNWQxY2YxNDdkMDg0ZWQ0MzdkMzQ1ZTA4ODMifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-404-main my-md-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-0 px-md-3">
        <div class="labo-404-bg py-5 px-3 px-md-0">
          <h2 class="labo-404-title pt-md-5">
            404
          </h2>
          <h3 class="labo-404-subtitle">
            Page not found
          </h3>
          <p class="labo-404-desc mt-3">
            We can't seem to find the page you are looking for. 
          </p>
          <a href="/" class="labo-404-back-button mt-5 mb-md-5">back to labodet.com</a>
        </div>
      </div>
    </div>
  </div>
</section>