{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:15+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            cea807563570ba010d7c3930842226dc
//      Signature:      eyJpdiI6IlpGd25McGhjeVhkS0ZuSzgwRHo5c2c9PSIsInZhbHVlIjoiTUViM0liOTgwS1ZSa1pmS0p0elNIR1RtYTQrKzNOZXNGbUI2bHlndDFSUHl5VGVta2lSMGp4NnBGMVcwSDNKOVpKSm1BWGJHbGZBNVwvQkFHblMremQzK3c5NkM4QmhPOG9NeDAzaFZabVUwcUQzOEZtSm50ajhzVFBONE1kXC9iMk42XC9mQUlQbHg5OXBXWEhMSFZTelNGNEtrMUdwVFNHRE1sWFhMWkpmNHdPTHNEZDFuXC9VTjJpMjVXNUJEYnNjNEtkXC9PNThGTGFrMEoxbGxsR0Q4cHY3Rm1uRTQ5bmtYUjVhOHcrbDg4MG5OYjUyYUtGa244VFhZMXIweEZGdm9QeUM1dFhWbkM5bTJKbjNtNHJOOE5mR3orUkN4UlF5M0J6XC9GaTRnXC90bkQ2NW55ZzRQa3REb0ZFSFpsbW5DWE93TzJCMm1MTWliTGN2aGplR0RFU3ZZNFMyUTJ1Z25YRTFIY0ljUmNtNVprNnVcL3lWN1VuQ1VQcGZcL1hvMEZNaUYrWkErbFBhWnd0TFkybmpBV09pMGtudz09IiwibWFjIjoiYmQwOWQwZGQzOTI1NjVkNzY0OTVlNzg3MTQ0MGMxZDRjZjU5ZDI1NjY1NmQ2NjcyY2NiZTU0OTIzYjQxNGI4NCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-standard-page-main">
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-12 pt-0 pb-0 labo-det-marginb-38">
        <h1 class="labo-standard-page-title labo-det-lheight-62 mt-0 border-bottom mb-0">
          {{ page.title }}
        </h1>
      </div>
      <div class="col-md-5">
        <div class="labo-standard-page-content">
          {{ page.content }}
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        {% if page.metafields.custom_fields["right_column_content"] != blank %}
        <div class="labo-product-page-grey-bg h-100 align-items-center justify-content-center py-4 px-3 p-md-5">
          {{ page.metafields.custom_fields["right_column_content"] }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% section 'page-advanced-sections' %}

<!------  mobile media query------------------->

<style>
  @media only screen and (max-width: 767px) {
 
    
    .labo-standard-page-title {
   
    display: block;
   
    text-align: center;
}
    
    
    
}
  
  
  
  /*************ipad media query of page*****************************/
  
  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {

      .labo-standard-page-title {
    display: block;
    text-align: center;
}

}
  
  
</style>


<!------  mobile media query------------------->