{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:16+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            9133d284a2f26347e72aba2e8aa1626c
//      Signature:      eyJpdiI6IlJqN1Y0WGtoR1FXOFNBT2hDeDZ2Y2c9PSIsInZhbHVlIjoiQ0YrM0s4N3d5TmlGemJpNWZmXC9aaDhmb2dEcVJiRk53cEl1K3NZTzE2VUpTVzVjckhyV2g5MlcyRzZiMkhRdld5ZEdFV2daUWhFU0JxWlhPY29LUSswUzRIRnJLZlo1SkNHOHA4ck10NUJkYTloclJIVnN3WG85RWp1MDFvaFNMVGpmNkkwM3FEcHBybTNPbEtBYlp5Wmx6QXB6RURcL2lkMTVLYk9la0lpajRLZXpBVTZvWXArK1JvZ1kwUGN5bkgyWHFMZ09VY3FhdUFMNldxbU14VkJHTXhxZmV0aHhsdDF3czVoXC9pblNKSUNYaGlZZk5NZmlLTHArdmd6aGgzejBvSm8rV1wvYW1ES2x3WlRyRlFMXC85dWkyOUlpYlhYdHlQOEVmbkM1SVwvRjRxN1N0UVdkY0dZM2xhRmZxWk1DMXlTUVwvMVR5YmV1elVkRlBBOExaSHgrT3NOZk1pRGlQS001TDN4d1hcL0lPM0ZUNkFGUkpQcmU4TzBObXMreGtBN1YwS05mMnhtSDlHMjFBSXNVOFhQVlp3PT0iLCJtYWMiOiIwNTczYWU4ZDMyOGQzZjQ1ZTM4OWZlNGVkYjAxOWYyMjM0YTIxZWE2ZDkyNDMwMDY0MmQ0OTQ5NDMyNTk4YzAxIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="page-faq">
  
  <div class="page-title-area container">
    <div class="page-title-area-inner">
      <h1 class="page-title">
        {{ page.title }}
      </h1>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
     {% section 'faqs' %}
      
      <div class="more-questions-area">
        <h3 class="title">
          {{ 'general.pages.still_have_a_question' | t }}
        </h3>
        <a href="/pages/contact-us" class="cta button">
          Contact us
        </a>
      </div>
      
    </div>
  </div>
    
</section>