@media only screen and (min-width:767px){
    .swatch .swatch-element {
        margin-top: 4px;
    }
    .all-var-wrapper {
        display: grid;
        width:104%;
        grid-template-columns: repeat(10, 1fr);
    }
    .all-var-wrapper-lessten{
        width:104%;
    }
}
.all-var-wrapper-lessten {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.all-var-wrapper-lessten div {
    text-align: left;
}
.all-var-wrapper div {
    text-align: left;
}
@media only screen and (max-width:767px){
  
  #labo-Color-swatch.ten .all-var-wrapper-lessten {
  	justify-content: space-evenly !important;
  }
  
  #labo-Color-swatch.ten .labo-Color-swatch__inner-container {
  	margin: 0px!important;
  }
  	
  .swatch.mobilecar.labo-Color-swatch .labo-Color-swatch__container {
    margin: 0 auto;
  }
  
  .labo-Color-swatch__inner-container .all-var-wrapper-lessten > div:last-child,
  div#labo-Metalware-swatch .all-var-wrapper-lessten > div:last-child{
  	margin-right: 0px;
  }
  
    .swatch-element{
        width:9%;
        margin-right:2px;
    }
    .labo-Color-swatch__container {
        margin-left: 12px;
        margin-right: 12px;
        width: 100%;
    }
    .all-var-wrapper {
        overflow-x: scroll;
        display: flex;
    }
    .all-var-wrapper::-webkit-scrollbar {
        display: none;    
    }
}

@media only screen and (max-width:767px){
    div#labo-Color-swatch {
        height: 38px;
        margin-top: 0!important;
        margin-bottom: 16.5px!important;
        align-items: flex-start;
    }
  	#labo-Color-swatch.labo-Color-swatch--one-line {
        height: 38px;
    }
  
    #labo-Color-swatch.labo-Color-swatch--one-line .labo-Color-swatch__container {
      margin: 0 auto!important;
    }
    .all-var-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
    }
    .all-var-wrapper-right{
        right:5% !important;
        left:auto !important;
    }
    .all-var-wrapper div:first-child {
        margin-left: 23px;
    }
    .all-var-wrapper div:last-child {
        padding-right: 12%!important;
    }
}
button.labo-product-page-submit.justify-center.text-center.js-go-cart-add-to-cart:disabled {
    opacity: .5!important;
    cursor: context-menu;
}

@media only screen and (max-width:767px){
    div#goCartContent {
        padding-top: 0;
    }
    .go-cart-item__single {
        padding-top: 44px;
    }
}
span.go-cart-item__quantity-button.js-go-cart-quantity-minus {
    position: relative;
}

.firstline {
    height: 1px;
    width: 11px;
    background: black;
}
.secondline {
    height: 11px;
    width: 1px;
    background: black;
    position: absolute;
}

input.go-cart-item__quantity-number.js-go-cart-quantity {
    padding-bottom: 2%;
}
@media only screen and (max-width:767px){
    .labo-product-details-container.p-3.pb-4.p-md-5.labo-product-page-grey-bg.lebo-page-mobile-center {
        padding-top: 10px !important;
    }
    .d-flex.d-md-none.mb-3 {
        margin-bottom: 16px !important;
    }
    .shopify-payment-button__button span {
        display: none !important;
    }
    .labo-product-info-content p {
        margin-left: 0;
    }
    .labo-product-info-content ul {
        margin-left: 20px;
    }
    .template-product .labo-accordion {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h2.labo-product-advanced-title {
        font-size: 21px !important;
    }
    .container.pt-4.pb-3 {
        padding-bottom: 16px !important;
    }
    .labo-footer .row-1 {
        margin-bottom: 20px;
    }
    .labo-footer form input[type=email]::placeholder {
        font-size: 14px !important;
    }
    p.klaviyo-subscribe-text {
        margin-bottom: 15px !important;
    }
    .go-cart-drawer__subtotal {
        padding-top: 0 !important;
    }
    div#shippingInfo {
        margin-top: 20px !important;
    }
    .go-cart-drawer__subtotal .last {
        padding-bottom: 20px;
    }
    footer.labo-footer .col-6.col-md-12 p {
        margin-bottom: 0;
    }
    .klaviyo-form.klaviyo-form.klaviyo-form {
        margin-top: 6px;
    }
    footer.labo-footer .row.pb-3 {
        padding-bottom: 15px !important;
    }
    .labo-secondary-footer {
        margin-top: 0;
    }
    .row.pt-0.pt-md-3.labo-secondary-footer .col-12.col-md.mt-2.mt-md-0 {
        margin-top: 10px !important;
    }
    .shopify-payment-button{
        margin-top:15px !important;
    }
    .labo-product-page-grey-bg p{
        line-height: 20px !important;
    }
    .go-cart-drawer__footer {
        flex-direction: column;
        height: 470px;
        padding: 0 40px;
    }
    div#labo-Color-swatch {
        margin-bottom: 2.6em;
    }
    .labo-Color-swatch--one-line {
        margin-bottom: 18px !important;
    }
    div#labo-Metalware-swatch .all-var-wrapper-lessten {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        display: grid;
    }
    
    div#labo-Metalware-swatch .all-var-wrapper-lessten div {
        width: 33px;
    }
    
    div#labo-Metalware-swatch .all-var-wrapper-lessten {
        position: relative;
        display: flex;
        width: 100% !important;
        justify-content: center;
    }
    
    div#labo-Metalware-swatch {
        display: flex;
        justify-content: center;
    }
    .all-var-wrapper-lessten {
        display: flex !important;
        width: 100% !important;
        justify-content: center !important;
    }    
    .all-var-wrapper-lessten div {
        width: 33px !important;
    }
    .labo-product-page-grey-bg.h-100.align-items-center.justify-content-center.d-flex.py-4.px-3.p-md-5 {
        padding-bottom: 30px !important;
    }
    section.labo-product-recommendations.py-5.border-0.mt-4 {
        border-top: 1px solid #F5F5F5 !important;
        padding-top: 15px !important;
    }
    section.labo-product-page-breadcrumbs {
        border-top: 1px solid #F5F5F5 !important;
        height: 44px;
        margin-top: 30px;
    }
    .all-var-wrapper-lessten .labo-Color-swatch__container {
        height: 40px;
        position: relative;
    }
    .all-var-wrapper-lessten .labo-Color-swatch__inner-container {
        position: absolute;
        width: 348px;
        left: -2px;
    }
    
}
input.go-cart-item__quantity-number.js-go-cart-quantity {
    -webkit-text-fill-color: #000;
}