/* start goCart */
#cart_icon_svg{
  &.cart_qty_0 {
    #path2{
      display: none;
    }
    #cartText{
      opacity: 0;
    }
  }
  #cartText{
    font-size: 10px;
  }
}
#cart_icon_svg_m{
  &.cart_qty_0 {
    #path2_m{
      display: none;
    }
    #cartText_m{
      opacity: 0;
    }
  }
  #cartText_m{
    font-size: 10px;
  }
}
/* ens goCart */
#goCartContent{
  //max-height: 50vh;
  overflow: hidden;
}
.go-cart__drawer{
  .go-cart-drawer{
    overflow-y: auto;
  }
}
.currency-options .child-links{
  flex-direction: column-reverse;
}
.currency-options .child-links .item-scroll li::marker{   display:none; font-size: 0;opacity: 0;}
.currency-options .child-links .item-scroll li.active::-webkit-details-marker{
  display: block;
}
.currency-options .child-links .item-scroll li.active::marker{
  display: block;
  font-size: inherit;
  opacity: 1;
}

#ContactForm .form-wrapper .form-message.form-message--error{
  display: none;
}

.section-email-popup2{

  position: fixed;
  top: auto;
  display: none;
  height: auto;
  padding: 20px 28px 23px 28px;
  background: #000;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 100%;
  transition: all 600ms ease-in-out;

  max-width: 100%;
  min-height: 0;

  bottom: -100%;
  left: auto;
  z-index: 999;
  @media(min-width: 768px){
    right: -100%;
    bottom: auto;
    max-width: 355px;
  }
  &.slided{
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    @media(min-width: 768px){
      right: 10px;
      left: auto;
    }
  }
  .inner{
    position: static;
    width: auto;
    height: auto;
    min-height: 0;
    display: block;
    background: transparent;
    .title{
      padding-right: 77px;

      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #fff;
    }
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      cursor: pointer;
      font-size: 0;
      opacity: 1;
      svg{}
    }
    .form{
      display: flex;
      font-size: 0;
      padding-top: 24px;
    }
    input, button{
      &:focus{
        outline: none;
      }
    }
    input[type=email]{
      font-size: 14px;
      line-height: 18px;
      color: #727272;

      border: 0;
      background: transparent;
      border-bottom: 1px solid #515151;
      padding: 4px 0;
      flex: 1 0 auto;
      &::placeholder{
        font-size: 14px;
        line-height: 18px;
        color: #727272;
      }
      &:-webkit-autofill{
        background: transparent;
      }
    }
    [type=submit]{
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #fff;

      border: 0;
      background: transparent;
      border-bottom: 1px solid #fff;
      padding: 4px 0;
      transition: all 200ms ease-in-out;
      &:hover{
        color: #727272;
        border-bottom: 1px solid #515151;
      }
    }
  }
}